.rating-system-fivestar-wrapper {
  position: relative;
  width: 100px;
  height: 30px;
  font-size: 22px;
  cursor: default;
}

.rating-system-fivestar-inner {
  width: 100%;
  top: 0;
  position: absolute;
  color: #cccccc;
}

.rating-system-fivestar-active {
  overflow: hidden;
  position: absolute;
  top: 0;
  color: black;
}
